body {
    font-family: futura;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    color:green;
    background-image: url("https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif");
    background-position: center;
    background-repeat: no-repeat;
    
}
h1 {
    font-family: arial;
    text-align:left;
    fo
}